<!-- <ul class="nav justify-content-end">
  <div class="main">
    <h4>Sales Master App</h4>
  </div>

  <li class="nav-item dropdown">
    <a class="nav-link fa fa-ellipsis-v" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/private/add-team">Add Team</a>
      <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a>
    </div>
  </li>
</ul> -->

<nav>
    <div class="heading">
        <h5>Sales Master App</h5>
    </div>
    <ul class="nav-links">
        <li class="nav-item dropdown">
            <a class="nav-link fa fa-ellipsis-v" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/private/add-team">Add Team</a>
                <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Logout</a>
            </div>
        </li>
    </ul>
</nav>