<app-header></app-header>
<div class="container">
    <div *ngFor="let team of teams;" class="card">
        <span class="uname">{{team.team_name | uppercase}}</span>
        <div class="clear"></div>
        <span class="teamAmount">{{team.amount | currency}}</span>
        <div class="clear"></div>
    </div>
</div>
<app-footer></app-footer>